@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fira Code';
    background: #282C33;
    line-height: normal;
}
:root
{
    --primary-color:#C778DD;
    --secondary-color:#ABB2BF;
    --white: #FFFFFF;
}


li
{
    list-style: none;
}
a
{
text-decoration: none;
}
nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
nav .logo h4
{
color: var(--white);
font-size: 16px;
font-weight: bold;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.nav-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.active
{
    color: var(--white);
}
.nav-links .links .gray
{
    color: var(--secondary-color);
    font-size: 16px;
    transition: 0.5s ease;
}
.nav-links .links a:hover
{
    color: var(--white);
}
#language
{
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}
.img .parent img 
{

    height: 400px;
    width: 400px;
    border-radius: 50%;
    text-align: center;
}
.primary
{
    color: var(--primary-color);
}
.home
{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.left h4
{
    font-size: 32px;
    font-weight: 500;
    color: var(--white);
}
pre
{
    color: var(--secondary-color);
    font-size: 16px;
}
.text
{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.btn
{
border: 1px solid var(--primary-color);
width: fit-content;
}
.btn button
{
    padding: 12px;
    color: var(--white);
    border: none;
}
.btn button:hover
{
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.5s ease;
}
.btn .email-button
{
color: var(--white);
}
.projects
{
    display: flex;
    grid-template-columns: repeat(3, auto auto auto);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-wrap: wrap;
}
.projects .card .img img
{
    height: 218px;
    width: 300px;
    object-fit: cover;
    border-radius: 16px;
}
.card
{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px); 
    cursor: pointer;
}
.card p 
{
    color: var(--secondary-color);
    font-size: 16px;
    margin-right: auto;
    border-top:1px solid  #ABB2BF;
     border-bottom:1px solid  #ABB2BF; 
    padding: 10px;
    width: 100%;
}
.card h4
{
    color: var(--white);
    font-size: 24px;
    padding: 10px;
}
.card p span
{
margin: 5px;
}
.card .btn button
{
    border: none;
    width: 150px;
    cursor: pointer;
}
.card .btn button a 
{
    color: var(--white);
}
.card .btn button:hover
{
    background-color: var(--primary-color);
    transition: 0.5s ease;
}
.container h3
{
    color: var(--white);
    font-size: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h3 span::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;

}
.container h3:hover span::after
{
    width: 20%;
    display: block;
    animation: mymove 3s infinite;
    transition: 0.5s ease;
}
@keyframes mymove {
    from{width:0%}
    to{width:20%}
    
}
    
.skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10px;

}
    
    .div1 {
        grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 50px;
     }
    .div2 {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 50px;
    }
  .div1 h6
  {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
  }
  .div2 h6
  {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
  }
.aboutme
{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.right .right-img
{
    text-align: center;
}
.right-img img 
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    text-align: center;
}
/* end of about me */

.container .card1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

}

.container .card1 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    border-radius: 50%;

}

.container .card1 .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card1 .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
    margin: auto;

}

.container .card1:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card1 .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    margin: auto;

}

.container .card1:hover .slide.slide2{

    transform: translateY(0);

}

.container .card1 .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background-color: var(--primary-color);

}

.container .card1 .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card1 .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 
footer .content .footer-icons span a i 
{
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 50%;
    border: 1px solid;
}
footer .content .footer-icons span a i:hover
{
    background-color: var(--primary-color);
    transition: 0.5s ease;
}
.footer-icons
{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: center;
    align-items: center;
}
.footer-text
{
    color: var(--white);
    padding: 10px;
    margin: 10px;
}
/* responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}
@media (max-width: 480px) {
.container
{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

}
/* */
